body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#input-section {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 60%;
  margin: auto;
}

label {
  display: block;
  margin: 10px 0;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#hasilPrediksi {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#alurPrediksi {
  margin-top: 40px;
  text-align: center;
}

#alurPrediksi img {
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
